@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --white: #ffffff;
  --headings: #c8a86e;
  --para: rgba(0, 0, 0, 0.7);
  --parawhite: rgba(255, 255, 255, 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #0a0a0a;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  scroll-snap-align: smooth;
  scroll-snap-type: mandatory;
}

img {
  cursor: pointer;
}

/* Background Image Styles */
.herosection {
  background-image: url("/assests/treebg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.herosection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.card-img {
  background-image: url("/assests/bg (2).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card-img2 {
  background-image: url("/assests/sprinkle (2).jpg");
}

.card-img3 {
  background-image: url("/assests/sprinle-man2.jpg");
}

.card-img4 {
  background-image: url("/assests/track.jpg");
}

.chooseUs {
  background-image: url("/assests/sprinkle-man.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.chooseUs::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.contactsection {
  background-image: url("/assests/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contactsection::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 4 * 2 ));
  }
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5rem;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: #b5b4b4;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
